form {
    padding: 0;
}

input,
textarea {
    background: transparent;
    // background-color: lighten(#fff,0.2);
    border: 2px solid #fff;
    width: 80%;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Open sans', sans-serif;
    padding-left: 10px;
}

input {
    height: 40px;
}

#contact-form {
    background-image: url("../images/plant.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.contact-text {
    text-align: left;

    h2 {
        margin: 40px auto 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: rgb(51,61,93);
        font-size: 32px;
        text-transform: uppercase;
    }

    p {
        letter-spacing: 2px;
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
        color: rgb(51,61,93);
        font-size: 22px;
        text-transform: uppercase;
        line-height: 30px;
    }

    span {
        font-weight: 700;
    }
}

.form-group {
    padding: 0;
    width: 50%;

    button {
        display: block;
        margin: 30px 0 50px;
        width: 150px;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Open sans', sans-serif;
        border: 2px solid lighten(rgb(51,61,93),0.9);
        background-color: transparent;
    }
}
