footer {
    h6 {
        // letter-spacing: 2px;
        font-family: 'Open sans', sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
    width: 60%;
    background-color: lighten(rgb(51,61,93), 0.5);
    margin: 0 auto;
}
