#goal {
    text-align: center;

    div {
        display: inline-block;
        margin: 40px 20px;
    }

    h2 {
        margin: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: rgb(51,61,93);
        text-transform: uppercase;
        padding: 30px auto;
    }
}
@media only screen and (max-width : 768px) {
    #goal {
        h2 {
            font-size: 24px;
        }
    }
}
