nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    // -webkit-transition: all 5s ease;
    // transition: all 5s ease;
    .lang {
        margin-right: 10px;
        margin-top: 35px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
    }

    ul {
        list-style: none;
        display: inline-block;
        padding-right: 40px;
        margin: 25px 0;

        li {
            display: inline-block;
            color: white;
            padding-left: 35px;
            font-size: 16px;
            text-transform: uppercase;
            font-family: 'Open Sans', sans-serif;
            cursor: pointer;
        }
    }
}

.logo {
    height: 52px;
    width: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-top: 11px;
    margin-bottom: 11px;
    float: left;
}

#stillNav .logo {
    background-image: url("../images/core_logo_white.png");
}

#movedNav {
    display: none;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    li {
        color: rgb(51,61,93);
    }

    .logo {
        background-image: url("../images/core_logo.png");
    }
}
@media only screen and (max-width : 768px) {
    .lang,
    .navigation {
        display: none;
    }

    .logo {
        height: 33px;
        width: 150px;
        margin-left: 60px;
    }
}
@media only screen and (max-width : 500px) {
    .logo {
        margin-left: 30px;
    }
}
