.val-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.val {
    border: 2px dashed yellow;
    height: 600px;
}

#first-image {
    background-image: url("../images/berries-punnet-lg.jpg");
}

#second-image {
    background-image: url("../images/packed-berries.jpg");
}
