#values {
    height: 800px;
    // .container {
    //     margin: 0;
    //     width: 100%;
    // }
}

.val-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    padding: 0;
    // width: 50%;
}

.val {
    height: 400px;
    padding: 0;
    // width: 50%;
}

.val-text {
    width: 70%;
    margin: 20px auto 40px;

    h2 {
        margin-top: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: rgb(51,61,93);
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 0;
        font-family: 'Open sans', sans-serif;
        font-weight: 300;
        color: rgb(51,61,93);
        font-size: 16px;
        text-transform: uppercase;
        line-height: 25px;
    }
}

#first-image {
    background-image: url("../images/berries-punnet.jpg");
}

#second-image {
    background-image: url("../images/packed-berries.jpg");
    background-position: center;
}
@media only screen and (max-width : 767px) {
    #values {
        height: auto;
    }

    .val {
        height: auto;
    }

    .val-text {
        margin: 60px auto 40px;
    }

    .val-img {
        background-size: cover;
    }
    // #values {
    //     height: 1600px;
    // }
}
@media only screen and (max-width : 500px) {
    .val-text {
        margin: 30px auto;
    }
}
